{% extends "layout.html" %}
{% block title %}To-Do Board{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1 class="display-5">Trello Board</h1>
    <p class="lead">Move Card</p>
  </div>
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <h2>Move Trello Card</h2>
  <h5>To-Do</h5>
  <ul class="list-group mb-4">
    {% for itm in items %} 
      <li>{{ itm.id }} - {{itm.name}} - {{itm.desc}}</li> 
    {% endfor %} 
  </ul>
  <h5>Doing</h5>
  <ul class="list-group mb-4">
    {% for doitm in doingitems %} 
      <li>{{ doitm.id }} - {{doitm.name}} - {{doitm.desc}}</li> 
    {% endfor %}
  </ul>
  <h5>Done</h5>
  <ul class="list-group mb-4">
    {% for doneitm in doneitems %} 
      <li>{{ doneitm.id }} - {{doneitm.name}} - {{doneitm.desc}}</li> 
    {% endfor %}
  </ul>
  <form method="POST" class="move-trello">
    <div class="move-trello">
      <label for="trello_id">CardID: </label>
      <input type="trello_id" name="trello_id" id="trello_id" required>
      <label>Move To </label>
      <input type="Submit" name="movecard" value="Todo">
      <input type="Submit" name="movecard" value="Doing">
      <input type="Submit" name="movecard" value="Done">
    </div>
  </form>
{% endblock %}